$color-primary-dark: #232931;
$color-primary-light: #393e46;

$color-secondary-dark: #7f8c8d;

$color-highlight-dark: #af0404;
$color-highlight-light: #ff0000;

$color-button: $color-highlight-dark;
$color-button-disabled: $color-secondary-dark;
$color-on-hover: $color-highlight-light;

$color-background: $color-primary-dark;

$color-logo: $color-highlight-dark;

$color-text: #fafafa;
$color-input: $color-primary-light;

$border-radius: 12px;

$font: "Source Sans Pro";
$font-label-size: 30px;

$box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  font-size: $font-label-size;
  color: $color-text;
  padding: 0 10px 0 0;
}

.label {
  font-size: $font-label-size;
  color: $color-text;
}

.inputField {
  background-color: $color-input;
  color: $color-text;
  padding: 0 10px;
  font-size: 24px;
  border: none;
  width: 100%;
  height: 2em;
  box-sizing: border-box;
  outline: none;
}

.focusBorder:focus {
  border: 1px solid $color-highlight-dark;
}

.roundBorder {
  border-radius: $border-radius;
}

.logoText {
  color: $color-logo;
  font-family: "Bebas Neue";
}
